# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.open-next/
/.tmp-manual-min/
/.tmp-manual-npm/
/.tmp-mppx/
/out/
/dist/
build/
/docs

# cloudflare pages / wrangler
.wrangler
wrangler.toml
.vercel
/.devcontainer/

# local database
*.db
*.db-shm
*.db-wal
/dev.db
/dev.db-shm
/dev.db-wal
/migrations/meta/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env*.local
